.skills {
    background: $blue;
    color: #fff;
    padding: 64px 16px 88px;
    &__columns{
        @media (min-width: $desktop) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            max-width: 1184px;
            margin: 0 auto;
        }
    }
    &__header {
        font-weight: bold;
        font-size: 36px;
        line-height: 48px;
        text-align: center;
        margin: 0 0 64px;
        @media (min-width: $desktop) {
            font-size:48px;
            line-height:56px;
        }
    }
}

.skills-list {
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: $lighterBlue;
    width: 288px;
    margin: 0 auto;
    /*list-style-type: none;
    padding: 0; 
    unable to download tick svg*/
    &__item {
        padding:0 0 0 24px;
        margin: 0 0 16px;
        position:relative;
        /* &:before {
            position:absolute;
            left: 0;
            top: 7px;
            display:block;
            content: '';
            width:12px;
            height:9px;
            background: url("../assets/img/small-tick-green.svg");
            .skills-list--blue & { ("../assets/img/small-tick-blue.svg"); 
                the above will change the color of the ticks in sections
            }
            
            .skills-list--dot & {
                width:2px;
                height:2px;
                border-radius: 50%;
                top:19px;
                left:5px;
                background:$lighterBlue;
                text got ruined , would have to remove the existing dots . 
            }            
            */
    }
}

.skills-section {
    margin-top: 64px;
    &__emoji {
        font-size: 64px;
        line-height: 64px;
        display: block;
        text-align: center;
    }
    &__header {
        font-weight: bold;
        font-size: 24px;
        line-height: 44px;
        text-align: center;
        margin: 16px 0 24px;
    }

}